* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

body {
    min-height: 100vh;
    background: #f9f9f9;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #359381;
    user-select: none;
    margin-right: 270px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #359381;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
} 

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #359381;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1)
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wavy {
    position: relative;
    -webkit-box-reflect: below -5px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.wavy span {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 6em;
    text-transform: uppercase;
    animation: animated 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animated
{
    0%
    {
        transform: translateY(0px);
    }
    20%
    {
        transform: translateY(-20px);
    }
    40%, 100%
    {
        transform: translateY(0px);
    }
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;    
}

.Portfolio {
    background: #0f312a;
    position: relative;
}

.center-text h2 {
    position: absolute;
    font-size: 3em;
    left: 20%;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin-top: -3rem;
}

.Portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 3.5rem;
    margin-top: 7.30rem;
    padding: 100px;
}

.row {
    background: #50c1ac;
    border-radius: 25px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
    transition: all .50s ease;
}

.row img {
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
    
}

.row p {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.row:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}

.ok {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0f312a;    
}

.Output {
    background: #0f312a;
    position: relative;
	display: flex;
    justify-content: center;
	text-align: left;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

.final-output {
    width: 700px;
}

.final-output h2 {
    color: white;
    font-size: 75px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-img {
    position: relative;
    width: 750px;
    height: 1400px;
    top: -100px;
    background: repeating-conic-gradient(from var(--a),#101010 0%, #101010 5%, transparent 5%, transparent 40%, #101010 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
}
@property --a
{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
@keyframes animate
{
    0%
    {
        --a: 0deg 
    }
    100%
    {
        --a: 360deg 
    }
}

.about-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a),#f9f9f9 0%, #f9f9f9 5%, transparent 5%, transparent 40%, #f9f9f9 50%);
    animation: animate 4s linear infinite;
    animation-delay: 600ms;
    border-radius: 20px;
}

.about-img::after {
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    background-image: url(img/Intro\ to\ Computing\ \(2\).jpg);
    background-size: 555px 1370px;
    border-radius: 15px;
    border: 8px solid #25252b;
}

.about-img img {
    width: 25vw;
}

.about-img img:hover {
    border: 3px solid green;
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}

.Learned {
    background: #0f312a;
    position: relative;
	display: flex;
    justify-content: center;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}

.learns {
    position: absolute;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin-top: -6rem;
    text-transform: uppercase;
}

.flex {
    position: relative;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.flexing img {
    width: 50vw;
    border-radius: 30px;
    margin-top: -10px;
    transition: 1s ease;
}

.flexing img:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer; 
    filter: blur(2px);
}

.flexing h2 {
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 0px;
    margin-right: 60px;
}

.footer {
    position: relative;
    width: 100%;
    height: 30px;
    background: #0f312a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer p:nth-child(1) {
    font-size: 15px;
    color: #101010;
    margin-bottom: 1px;
    font-weight: bold;
}


@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
    }

    .logo {
        font-size: 1.5em;
        margin-right: 0;
    }

    .navigation {
        text-align: center;
    }

    .navigation a {
        margin: 10px 0;
        color: #0f312a;
    }

    .parallax {
        padding: 50px 0;
        height: 34.45vh;
        flex-direction: column;
        justify-content: space-between;
    }

    .Portfolio {
        align-items: center;
    }

    .center-text h2 {
        font-size: 1em;
        top: 30px;
        left: 60px;
    }

    .Portfolio-content {
        justify-content: space-evenly;
    }

    .wavy span {
        font-size: 25px;
        bottom: -100%;
    }

    .home {
        padding: 0 5%;
    }

    .home-content {
        text-align: center;
    }

    .home-content h1 {
        font-size: 40px;
    }

    .home-content h3 {
        font-size: 30px;
    }

    .logo {
        margin-right: 0;
    }

    .Portfolio-content {
        margin-top: 2.5rem;
        padding: 50px;
    }

    .ok .cut {
        color: transparent;
    }

    .final-output h2 {
        font-size: larger;
    }

    .about-img {
        height: 415px;
    }

    .about-img::after {
        background-size: 100%;
    }

    .about-img::before {
        left: 0px;
        animation-delay: 500ms;
    }

    .row {
        padding: 15px;
    }

    .learns {
        font-size: small;
    }

    .flexing {
        font-size: medium;
    }

    .about-img {
        text-align: center;
    }

    .about-img img,
    .flexing img {
        width: 100%;
    }

    .about-img img:hover,
    .flexing img:hover {
        border: none;
        transform: none;
        filter: none;
    }

    .footer {
        height: auto;
    }
}
